<div class="breadcrumb col-lg-12">
    <div class="pagination">
    <span class="step-links">
        <div class="btn-group">
        {% if postList.has_previous %}
            <a href="?page={{ postList.previous_page_number }}{% if request.GET.q %}&q={{ request.GET.q }}{% endif %}" class="btn btn-primary">&leftarrow;</a>
        {% endif %}
        {% for page in pageRange%}
            {% if postList.number == page%}
                <a href="#" class="active btn btn-primary">{{ page }} &nbsp;</a>
                {% else %}
                <a href="{% url 'list-p' %}?page={{ page }}{% if request.GET.q %}&q={{ request.GET.q }}{% endif %}" class="btn btn-primary">{{ page }} &nbsp;</a>
            {% endif %}
        {% endfor %}
        {% if postList.has_next %}
            <a href="?page={{ postList.next_page_number }}{% if request.GET.q %}&q={{ request.GET.q }}{% endif %}" class="btn btn-primary">&rightarrow;</a>
        {% endif %}
        </div>
        <span class="current">
            Page {{ postList.number }} of {{ postList.paginator.num_pages }}.
        </span>
    </span>
    </div>
</div>